.slider {
    width: 100%;
    height: 65vh;
    position: relative;
    overflow: hidden;
    display: flex;

    .OutlineArrow {
        .arrow {
            color: #fff;
            width: 80px;
            cursor: pointer;
            //position: absolute;
            z-index: 999;
            position: absolute;
            display: flex;
            height: 100%;
            transition: all .3s ease;
            z-index: 999;
            justify-content: center;
            align-items: center;
        }

        .arrow:hover {
            background: rgba(0, 0, 0, 0.6);
        }

        .next {
            right: 0;
        }

        .prev {
            left: 0;
        }
    }
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translateX(-50%);
    transition: all .4s ease;
    transition-duration: 250;
}

@media screen and (min-width: 600px) {
    .slide img {
        width: 100%;
        height: 100%;
    }
}

.slide img {
    height: 100%;
}

.slider-content {
    position: absolute;
    top: 20rem;
    left: 10rem;
    width: 50%;
    padding: 3rem;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    animation: slide-up 1s ease .5s;
    animation-fill-mode: forwards;
    transition: all .4s ease-in-out;
    //visibility: hidden;
}

@keyframes slide-up {
    0% {
        visibility: hidden;
        top: 20rem;
    }

    100% {
        visibility: visible;
        top: 10rem;
    }
}

@media screen and (max-width: 600px) {
    .content {
        width: 80%;
    }
}

.slider-content>* {
    color: #fff;
    margin-bottom: 1rem;
}

.current {
    opacity: 1;
    transform: translate(0);

    .content {
        opacity: 1;
    }
}








hr {
    height: 2px;
    background: #777;
    width: 50%;
}