:root {
    --bg: #242526;
    --bg-accent: #484a4d;
    --text-color: #dadce1;
    --nav-size: 60px;
    --border: 1px solid #474a4d;
    --border-radius: 8px;
    --speed: 500ms;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

.NavHomePage {
    display: flex;
    width: 100%;
    border-top: 1px solid #262626;
    background-color: #000;
    color: #bbb;

    .NavHomePage-Body {
        display: flex;
        width: 1680px;
        margin-left: 35px;
        margin-right: auto;
        height: 56px;

        .NavHomePage-Item {
            display: flex;
            padding: 10px;
            //width: 10%;
            justify-content: center;

            .NavHomePage-Item-Button {
                display: flex;
                background: #000;
                border: #000;
                color: #bbb;
                align-items: center;

                &:hover {
                    color: rgb(242, 245, 239);
                    border: var(--bg-accent);
                    transition: all 0.4s;
                    border-top: 1px solid rgb(103, 195, 248);
                }



                // & {
                //     color: rgb(242, 245, 239);

                // }

                .NavHomePage-Item-Icon {
                    font-size: 18px;
                    display: flex;
                }

                .NavHomePage-Item {
                    display: flex;
                    align-items: center;
                    font-size: 18px;
                    line-height: 1.75rem;
                    margin-left: 10px;
                }
            }

            .dropdown {
                position: absolute;
                top: 11rem;
                left: 13rem;
                width: 300px;
                transform: translateX(-45%);
                background-color: #fff;
                border: #fff;
                border-radius: var(--border-radius);
                padding: 1rem;
                overflow: hidden;
                z-index: 999;
                transition: height var(--speed) ease;
                display: none;

                &.show {
                    display: block;
                }

                .Dropdown-Submenu {
                    position: absolute;
                    left: 100%;
                    top: -7%;
                }

                /* CSSTransition classes  */
                .menu-primary-enter {
                    position: absolute;
                    transform: translateX(-110%);
                }

                .menu-primary-enter-active {
                    transform: translateX(0%);
                    transition: all var(--speed) ease;
                }

                .menu-primary-exit {
                    position: absolute;
                }

                .menu-primary-exit-active {
                    transform: translateX(-110%);
                    transition: all var(--speed) ease;
                }


                .menu-secondary-enter {
                    transform: translateX(110%);
                }

                .menu-secondary-enter-active {
                    transform: translateX(0%);
                    transition: all var(--speed) ease;
                }



                .menu-secondary-exit-active {
                    transform: translateX(110%);
                    transition: all var(--speed) ease;
                }


                .menu {
                    width: 100%;
                    height: 300px;
                    overflow: auto;

                    .menu-item {
                        display: flex;
                        background: #fff;
                        border: #fff;
                        align-items: center;

                        .title-header {
                            font-size: 20px;
                            font-weight: bold;

                            color: rgb(21, 21, 21);
                        }

                        .title {
                            font-size: 12px;
                            font-weight: bold;
                            margin-bottom: 10px;
                            margin-left: 10px;
                            color: rgb(52, 52, 52);
                            font-family: 'Courier New', Courier, monospace;
                        }
                    }

                    .icon-button {
                        --button-size: calc(var(--nav-size) * 0.5);
                        width: var(--button-size);
                        height: var(--button-size);
                        //background-color: #484a4d;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: filter 300ms;
                        margin-right: 10px;
                        transition: all 0.4s;

                        &:hover {
                            filter: brightness(1.2);


                            svg {
                                fill: var(--text-color);
                                width: 20px;
                                height: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}