.container {
    .Manager-title {
        text-align: center;
        font-weight: bold;
        color: red;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        font-size: 24px;
    }

    .Manager-border {

        border-bottom: 1px solid rgb(243, 138, 138);

        .edit {
            width: 100px;
            margin-right: 3px;
            color: #fff;

            &:hover {
                color: #000;
            }
        }

        .deleted {
            width: 100px;
            margin-right: 3px;
            color: #fff;

            &:hover {
                color: #000;
            }
        }
    }
}
